.s-all-info-pokemons {
  position: relative;
  padding-top: 19.9rem;
  margin-top: -28.8rem;
  z-index: 2;
}
.s-all-info-pokemons .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 16.8rem;
}
.s-all-info-pokemons .top h2 {
  max-width: 26.5rem;
}
.s-all-info-pokemons .top .search {
  margin-top: 2.2rem;
}
.s-all-info-pokemons .area-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-all-info-pokemons .area-all .left-container {
  width: 100%;
  max-width: 23.9rem;
  border-right: 1px solid #eff3f6;
  padding-top: 7.1rem;
}
.s-all-info-pokemons .area-all .left-container ul li:not(:last-child) {
  margin-bottom: 40px;
}
.s-all-info-pokemons .area-all .right-container {
  width: 100%;
  padding: 7.1rem 0 6.5rem 7.5rem;
}
.s-all-info-pokemons .area-all .right-container .top-container {
  margin-bottom: 6.3rem;
}
.s-all-info-pokemons .area-all .right-container .top-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-all-info-pokemons .area-all .right-container .top-container > div span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #4D5053;
  margin-left: 0.6rem;
}
.s-all-info-pokemons .area-all .right-container .all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-bottom: 6.8rem;
}
.s-all-info-pokemons .area-all .right-container .btn-load-more {
  margin: 0 auto;
  display: table;
}