footer{
    width: 100%;
    background-color: #3F5DB3;
    padding-top: 6.7rem;
    padding-bottom: 6.5rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text{
            h3{
                color: #fff;
            }
            p{
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 25.2px;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}